nav {
	.menu .vertical {
		background-color: $light-gray;
	}

	.menu-text {
		color: $white;
	}

	.is-dropdown-submenu-parent {
		min-width: 100px;
	}
}

.fixed-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.display {
	@include display();
}

.bigger {
	font-size: 1.2em;
}