<div class="row">
    <div class="small-6 columns">
        <h1>Habit Formers</h1>
    </div>
    <div class="small-6 columns">
        <a href="">Create account</a>
        <br>
        <a href="">Login</a>
    </div>
</div>
<div class="row">
    <h1>Welcome to habit formers!</h1>
</div>
<div class="row">
    <div class="small-6 columns">
        Monthly: You can view, add and track habits with a monthly view
    </div>
    <div class="small-6 columns">
        Weekly: You can view, add and track habits with a weekly view
    </div>
</div>
