<div class="row">
    <div class="small-12 columns text-right">
        <a href="#/signup">Create account</a>
        <br>
        <a href="#/login">Login</a>
    </div>
</div>
<div class="row">
    <div class="small-12 columns text-center">
        <h1>Habit Formers</h1>
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        Monthly: You can view, add and track habits with a monthly view
    </div>
    <div class="small-6 columns">
        Weekly: You can view, add and track habits with a weekly view
    </div>
</div>

<div class="row">
    <div class="small-6 columns">
        Statistics: Keep track of your badges you've earned and statistics on your habits!
    </div>
    <div class="small-6 columns">

    </div>
</div>
