<div class="row no-margin full-height remodal-bg">
	<div class="small-2 column full-height sidebar">
		<div class="month">
			{{month}}
		</div>
		<span class="fa fa-arrow-left arrow" ng-click="prevMonth()"></span>
		<button class="button today-button" ng-click="currMonth()">Today</button>
		<span class="fa fa-arrow-right arrow" ng-click="nextMonth()"></span><br />
		<button class="create button" data-open="newHabit">New Habit</button><br />
		<div class="habits">
			<div class="title">My Habits</div>
			<div class="habit" ng-repeat="habit in habits" ng-class="colorClass($index)">{{habit.name}}</div>
		</div>
	</div>
	<div class="small-10 column full-height calendar">
		<div class="day" ng-repeat="day in days" ng-class="{dim: day.past || day.future, today: day.today, sixWeeks: sixWeeks}">
			<div class="number">{{day.dayNum}}</div>
			<div class="name" ng-show="$index < 7">{{day.dayName}}</div>
			<div class="calendarHabit" ng-repeat="habit in day.habits" ng-class="colorClass(habit.num)">
				<div class="fa fa-check centered" ng-show="habit.completed"></div>
			</div>
		</div>
	</div>
</div>

<div class="reveal" id="newHabit" data-reveal>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4>Add a New Habit</h4>
	<input type="text" placeholder="Habit Name" ng-model="newName">
	<select ng-model="newRepeat">
		<option value="" disabled selected>Repeat</option>
		<option value="0">Daily</option>
		<option value="1">Every n Days</option>
		<option value="2">Weekly</option>
		<option value="3">Every n Weeks</option>
	</select>
	<datepicker class="startDate">
		<input type="text" ng-model="newStartDate" placeholder="Start Date">
	</datepicker>
	<datepicker class="endDate">
		<input type="text" ng-model="newEndDate" placeholder="End Date">
	</datepicker>
	<textarea ng-model="newNotes" placeholder="Notes"></textarea>
	<button class="button submit">Submit</button>
</div>

<script>
	$(document).foundation();
</script>