<div class="row">
	<div class="small-6 column">
		<div class="row">
			<div class="small-3 column">
				Column x<br />
			</div>
			<div class="small-3 column">
				Column x
			</div>
			<div class="small-3 column">
				Column x
			</div>
			<div class="small-3 column">
				Column x
			</div>
		</div>
	</div>
	<div class="small-6 column">
		<div class="row">
			<div class="small-3 column">
				Column x
			</div>
			<div class="small-3 column">
				Column x
			</div>
			<div class="small-3 column">
				Column x
			</div>
			<div class="small-3 column">
				Column x
			</div>
		</div>
	</div>
</div>