<div class="row">
   <div class="small-4 columns small-centered">
     <div class="signup-panel">
       <p class="welcome"> Welcome to Habit Formers!</p>

        <!-- <form action="/signup" method="post" class="userForm" novalidate> -->
      <form action="#/monthly" class="userForm" novalidate>
         <div class="row collapse">
           <div class="small-12  columns">
             <input type="text" class="form-control" name="name"  ng-model="user.name" placeholder="name" required>
           </div>
         </div>
         <div class="row collapse">
           <div class="small-12  columns">
             <input type="email" class="form-control"  name="email"ng-model="user.email" placeholder="email"required>
           </div>
         </div>
         <div class="row collapse">
           <div class="small-12 columns ">
             <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="password" required>
           </div>
         </div>
         <div class="row collapse">
           <div class="small-12 columns ">
             <input type="tel" class="form-control" ng-model="user.telephone" name="telephone" placeholder="Phone Number" required>
           </div>
         </div>
         <button type="submit" class="button" id="signup">Sign up!</button>
       </form>
       <!-- Need to add user auth -->
       <!-- <a href="#/monthly" class="button ">Sign Up! </a> -->
        <p>Already have an account? <a href="#/login">Login here &raquo</a></p>
     </div>
   </div>
</div>
